.greeting {
    font-weight: 400;
    text-align: center;
    font-size: 17pt;
}

.akina__headling {
    font-size: 60pt;
    color: $main-purple;
}

.photo__block {
    height: 100%;
    width: 100%;
    background: url('/src/media/main.png') no-repeat;
    background-size: 663px 746px;
    background-position: top;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 1px 0px 27px 5px rgba(94, 55, 55, 0.32);

}

.main__bg {
    background: linear-gradient(-45deg, $main, #aa82ef);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.secondary__bg {
    height: 150%;
    width: 70%;
    border-radius: 50px;
    margin: 0 auto;
    background: linear-gradient(-45deg, $main, #aa82ef);
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.mainpage {
    margin: 100px 0;
}

.about {
    text-align: center;
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

    h2 {
        color: $main-purple;
        text-align: center;
    }

    


}



.about p {
    margin-top: 10px;
    font-size: 15pt;
}


main .flex-sp-ar {
    margin-top: 100px;
    font-size: 16pt;
}

.btn__main {
    text-decoration: none;
    color: white;
    background: linear-gradient(-45deg, $main, #aa82ef);
    background-size: 110%;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 0px 27px 5px rgba(94, 55, 55, 0.15);
    transition: all 0.2s ease;
}

.btn__main:hover {
    transform: scale(1.1);
    font-weight: 500;
}

.v-container {
    height: 600px;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

@media (max-width:450px) {
    .mainpage .flex-sp-ar {
        flex-direction: column;
        text-align: center;
    }
    .btn__main {
        margin: 10px auto;
        max-width: 80%;
        width: 100%;
    }
    .main__bg {
        height: 300px;
    }

    .secondary__bg {
        width: 95%;
    }

    .photo__block {
        background-size: 493px 526px;
    }
}

@media (max-width:390px) {
    .main__bg {
        height: 300px;
    }

    .secondary__bg {
        width: 95%;
    }

    .photo__block {
        background-size: 443px 476px;
    }
}