.block {
    margin-top: 10px;
    text-align: center;
    p {
        margin-top: 20px;
    }
    iframe {
        margin-top: 20px;
    }
    img {
        margin-top: 30px;
    }
}

.ex {
    h1,h2 {
        color: $main-purple;
    }
    margin: 20px 0;
}

.block:nth-child(3){
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    .ex__item {
        width: 50%;
    }
}