


.footer p {
    text-align: center;
    margin-top: 20px;
    color: white;
}
.link__footer {
    text-decoration: none;
    color: white;
}

.link__footer:hover {
    font-weight: 700;
}

footer .flex-sp-ar {
    padding-top: 10px;
}

@media (max-width:450px) {
    footer .flex-sp-ar {
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;
    }
        

}