.hr {
    background: linear-gradient(-90deg, $main, $main-purple);
    width: 90%;
    height: 6px;
    margin: 0 auto;
}

/* Навигация header */

.logo__link {
    display: block;
    text-align: center;
}

.link__header {
    font-family: "roboto", sans-serif;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 20pt;
    color: black;
    font-weight: bold;
}

.link__header:hover {
    transform: scale(1.2);
    font-size: 24pt;

    background: linear-gradient(-45deg, $main-purple, $main, $main, $main-purple, $main-purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 11s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.link__header:visited {
    background: linear-gradient(-45deg, #ffb39c, #ffcf9b, #e16f60, $main);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
}

.logo {
    width: 40%;
    display: block;
    text-align: center;
}

header .flex-sp-ar {
    align-items: center;
    margin: 18px 0;
}

@media screen and (max-width:1057px) {
    .logo {
        width: 20%;
    }
}

@media screen and (max-width: 450px) {
    header .flex-sp-ar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    header {
        .mobile {
            margin-top: 25px;
            
        }
        .mobile:nth-child(1) {
            margin-top: 0;
            max-width: 50%;
            margin-left: 15px;
        }
    }
}