h1,h2,h3,h4 {
    font-family: 'roboto', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
    background: linear-gradient(90deg, $main, #aa82ef);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
    font-size: 30pt;
}

h3 {
    font-weight: 500;
}

p,a  {
    font-weight: 400;
    font-family: 'roboto', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
}