@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'roboto', sans-serif;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  color: #aa82ef;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 35pt;
}

h2 {
  font-weight: 700;
  font-size: 30pt;
}

h3 {
  font-weight: 500;
}

p, a, li {
  font-weight: 400;
  font-family: 'roboto', sans-serif;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 15pt;
}

.container {
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-sp-ar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-sp-bw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download ul a {
  color: black;
  text-align: center;
}

.download ul li {
  text-align: center;
  list-style-type: none;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  background-color: #cfcfcf;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.hr {
  background: -webkit-gradient(linear, right top, left top, from(#ffa6a2), to(#aa82ef));
  background: linear-gradient(-90deg, #ffa6a2, #aa82ef);
  width: 90%;
  height: 6px;
  margin: 0 auto;
}

/* Навигация header */
.logo__link {
  display: block;
  text-align: center;
}

.link__header {
  font-family: "roboto", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20pt;
  color: black;
  font-weight: bold;
}

.link__header:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-size: 24pt;
  background: linear-gradient(-45deg, #aa82ef, #ffa6a2, #ffa6a2, #aa82ef, #aa82ef);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 11s ease infinite;
          animation: gradient 11s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.link__header:visited {
  background: linear-gradient(-45deg, #ffb39c, #ffcf9b, #e16f60, #ffa6a2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}

.logo {
  width: 40%;
  display: block;
  text-align: center;
}

header .flex-sp-ar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 0;
}

@media screen and (max-width: 1057px) {
  .logo {
    width: 20%;
  }
}

@media screen and (max-width: 450px) {
  header .flex-sp-ar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    width: 50%;
    margin-left: 30px;
  }
  header .mobile {
    margin-top: 25px;
  }
}

.footer p {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.link__footer {
  text-decoration: none;
  color: white;
}

footer .flex-sp-ar {
  padding-top: 10px;
}

@media (max-width: 450px) {
  footer .flex-sp-ar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
}

.greeting {
  font-weight: 400;
  text-align: center;
  font-size: 17pt;
}

.akina__headling {
  font-size: 60pt;
  color: #aa82ef;
}

.photo__block {
  height: 100%;
  width: 100%;
  background: url("/src/media/main.png") no-repeat;
  background-size: 663px 746px;
  background-position: top;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-box-shadow: 1px 0px 27px 5px rgba(94, 55, 55, 0.32);
          box-shadow: 1px 0px 27px 5px rgba(94, 55, 55, 0.32);
}

.bg {
  background: linear-gradient(-45deg, #ffa6a2, #aa82ef);
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg2 {
  height: 150%;
  width: 70%;
  border-radius: 50px;
  margin: 0 auto;
  background: linear-gradient(-45deg, #ffa6a2, #aa82ef);
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainpage {
  margin: 100px 0;
}

.about {
  text-align: center;
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.about h2 {
  color: #aa82ef;
  text-align: center;
}

.about p {
  margin-top: 10px;
  font-size: 15pt;
}

main .flex-sp-ar {
  margin-top: 100px;
  font-size: 16pt;
}

.btn__main {
  text-decoration: none;
  color: white;
  background: linear-gradient(-45deg, #ffa6a2, #aa82ef);
  background-size: 110%;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 0px 27px 5px rgba(94, 55, 55, 0.15);
          box-shadow: 1px 0px 27px 5px rgba(94, 55, 55, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn__main:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: hwb(0 91% 0%);
}

.v-container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

@media (max-width: 450px) {
  .mainpage .flex-sp-ar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .btn__main {
    margin: 10px auto;
    max-width: 80%;
    width: 100%;
  }
}

.error {
  color: var(--peach-color);
  text-align: center;
  font-family: "roboto",sans-serif;
}

.error:visited {
  color: var(--peach-color);
}

.error__page {
  margin: 500px 0;
}

.error__page h2 {
  text-align: center;
  font-family: "roboto",sans-serif;
}

.stage__btn {
  width: 400px;
  height: 50px;
}

.block {
  margin-top: 10px;
  text-align: center;
}

.block p {
  margin-top: 20px;
}

.block iframe {
  margin-top: 20px;
}

.block img {
  margin-top: 30px;
}

.ex {
  margin: 20px 0;
}

.ex h1, .ex h2 {
  color: #aa82ef;
}

.block:nth-child(3) {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block:nth-child(3) .ex__item {
  width: 50%;
}

.btn {
  width: 100%;
  background-color: #ffa6a2;
  border-radius: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}

.btn__stage {
  color: white;
  text-decoration: none;
  font-size: 20pt;
  background: linear-gradient(-45deg, #ffa6a2, #aa82ef);
  border-radius: 40px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn__stage:hover {
  width: 90%;
}

.btn__stage:visited {
  color: white;
  text-decoration: none;
}

.stage {
  margin: 20px 0;
}

.stage .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo__block__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo__block__team h3 {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 20px;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.6);
}

.photo__block__team h3:visited {
  color: white;
  text-decoration: none;
}

.photo__block__team:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team__link {
  text-decoration: none;
}

.team {
  width: 100%;
  margin: 20px 0;
}

.team .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
}

.team .flex h1 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .flex h1:hover {
  font-size: 40pt;
}

.team .flex-sp-ar {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.team .flex-sp-ar:nth-child(1) .photo__block__team {
  background: url(/src/media/kurbatov_cropped.png) no-repeat;
  background-size: 200px 374px;
  background-position: top;
}

.team .flex-sp-ar:nth-child(3) .photo__block__team {
  background: url(/src/media/zinkevich_cropped.png) no-repeat;
  background-size: 200px 323px;
  background-position: top;
}

.team .flex-sp-ar:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.team .flex-sp-ar:nth-child(4) .photo__block__team {
  background: url(/src/media/bogdanovich_cropped.png) no-repeat;
  background-size: 348px 311px;
  background-position: top;
}

.team .flex-sp-ar:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.team .flex-sp-ar:nth-child(2) .photo__block__team {
  background: url(/src/media/kokorina_cropped.png) no-repeat;
  background-size: 263px 322px;
  background-position: top;
}

.team .flex-sp-ar:nth-child(5) .photo__block__team {
  background: url(/src/media/pikutsky_cropped.png) no-repeat;
  background-size: 197px 305px;
  background-position: top;
}

.member {
  width: 14%;
  display: block;
  margin: 40px auto;
  -webkit-filter: drop-shadow(0px 0px 25px rgba(140, 70, 199, 0.8));
          filter: drop-shadow(0px 0px 25px rgba(140, 70, 199, 0.8));
}

.member__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.member__page p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.member__page h3 {
  font-size: 20pt;
}

.member__page a {
  color: black;
}

.member__page .flex-sp-ar {
  width: 50%;
  margin-left: 20px;
  margin-bottom: 60px;
}

.member__page .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member__page .list__item li {
  font-size: 20pt;
}

.member__page .list__item h3 {
  font-size: 30pt;
}

.photo__block__teambg {
  background: -webkit-gradient(linear, right top, left top, from(#ffa6a2), to(#aa82ef));
  background: linear-gradient(-90deg, #ffa6a2, #aa82ef);
  background-size: 120%;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo__block__teambg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 450px) {
  .team .flex-sp-ar h1 {
    display: none;
  }
  .team .flex-sp-ar {
    margin: 30px 0;
  }
  .member__page p {
    width: 90%;
  }
  .member__page .member {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .about {
    max-width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */