
.hr {
    background-color: #cfcfcf;
    width: 90%;
    height: 3px;
    margin: 0 auto;
}


.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}


.link {
    font-family: "roboto", sans-serif;
    text-decoration: none;
    transition: all 0.5s  ease;
    font-size: 20pt;
    color: black;
    font-weight: bold;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.link:hover {
    font-size: 24pt;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.link:visited {
    color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

}

.error {
    color: var(--peach-color) ;
    text-align: center;
    font-family: "roboto",sans-serif;

}
.error:visited {
    color: var(--peach-color);
}

.error__page {
    margin: 500px 0;
}

.error__page h2 {
    text-align: center;
    font-family: "roboto",sans-serif;
}

.iframe {
    max-width: 50%;
    margin: 0 auto;
}


.logo {
    width: 10%;
}

.link__footer {
    text-decoration: none;
    color: black;
}

.flex__footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #cfcfcf;
}

.footer p {
    text-align: center;
    margin-top: 20px;
}